[Unit]
Description=Graphana Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=5s

ExecStartPre=-/usr/bin/docker kill tutum/grafana
ExecStartPre=-/usr/bin/docker rm tutum/grafana
ExecStartPre=/usr/bin/docker pull tutum/grafana

ExecStart=/etc/graphana/start_graphana

ExecStop=/usr/bin/docker stop tutum/grafana

[Install]
WantedBy=multi-user.target
