[Unit]
Description=Confd - etcd based automated file configuration

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/confd
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
