[Unit]
Description=Load test InfluxDB every 5 minutes

[Timer]
OnBootSec=1sec
OnUnitActiveSec=5sec
Unit=influxdb-load-test.service

[Install]
WantedBy=timers.target
