global
    daemon
    maxconn 256

defaults
    mode http
    log     global
    mode    http

frontend http
    bind *:8085
    stats enable
    stats uri /haproxy?stats
    balance roundrobin
    default_backend influxdb-nodes

backend influxdb-nodes
    balance roundrobin
{{range gets "/influxdb/servers/*"}}
    server {{base .Key}} {{.Value}} check
{{end}}
