[Unit]
Description=InfluxDB Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=5s

ExecStartPre=-/usr/bin/docker kill influxdb
ExecStartPre=-/usr/bin/docker rm influxdb
ExecStartPre=/usr/bin/docker pull allen13/influxdb-min

ExecStart=/etc/influxdb/start_influxdb influxdb

ExecStartPost=/usr/bin/etcdctl set /influxdb/servers/%H ${PRIVATE_IPV4}:8086

ExecStop=/usr/bin/docker stop influxdb

ExecStopPost=/usr/bin/etcdctl rm /influxdb/servers/%H

[Install]
WantedBy=multi-user.target
